* {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif; 
}

a:hover {
    color: #555555;
}

#datos2{
    margin-top: 2%;
}

/*Mensaje de */
#mensa12{
    float: right;
    max-width: 95%;
    margin-right: 2%; 
    margin-top: -12%;
}

form .col-auto{
    margin-right: 5%;
}

form #botoen:hover {
    background-color: #343a40;
}

/*Container*/
#container {
    width: 90%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    /*background: white;*/  
    background: RGB(208, 211, 212);
}

/*Header*/
#header {
    height: 145px;
    background-color: rgba(255, 255, 255, 0.425);
    margin-top: 1px;
}

#logo {
    padding: 15px;
    margin-left: 20px;
}

#logo img {
    float: left;
    width: 150px;
}

/*logo user*/
#logoSuper{
    float: left;
    width: 10%;
    margin-top: 10px;
    margin-bottom: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#logoSuper1{
    float: left;
    width: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#btnAdd{
    margin-left: 990px;
}

#logo a {
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #838282d5;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 25px;
    text-shadow: 0px 2px 1 px #222222;
}

/*Menu LOGIN*/
#menu {
    clear: both;
    margin-top: -10px;
    background-color: #ec3128;
    color: white;
    height: 55px;
    border-bottom: 4px solid #1e3a8e;
}

#title1{
    margin-top: -10px;
    margin-left: 15%;
}

.formLogin{
    width: 300%;
    margin-left: -100%;
    float: left;
    margin-top: 10%;
}

.Login{
    height: 200px;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li {
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 300ms;
}

#menu a:first-child {
    border-left: 1px solid #666060;
}

/*Efecto de los botones del menu principal*/
#menu a:hover {
    background: gold;  /*#bcccd1*/
    color: black;
    /*border-bottom: 4px solid #1e3a8e;*/
}

#menu ul li button{
    line-height: 30px;
    margin-top: 7px;
    background-color: black;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#menu select {
    background: #222;
    color: white;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: -1px;
    margin-top: -0.20px;
    border: 0px;
    height: 55.10px;
    font-size: 17px;
}

#menu select:hover {
    background: #bcccd1;
    color: black;
}

/*boton agregar cliente*/
.new {
	margin-left: 110px;	
	border-radius: 115px;
}

/*Lateral*/
#lateral {
    width: 20%;
    min-height: 448px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    background: RGB(189, 195, 199);
}

#lateral .aside {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
}

#lateral h3 {
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px solid #838282d5;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 15%;
}

/**  Esto es la parte del usuario trabajador  **/

/*este id le pertenece a el div que contiene el modal para introducir contraseña admin y se pueda cerrar la caja*/
#ex1{
    background-color: transparent;
    padding: 1px 1px;
    height: 39%;
    width: 50%;
    border: none;
}

/*este le pertenece al boton de cerrar que se genera cuando se manda a llamar el modal*/
.modal a.close-modal{
    margin-top: -5%;
    margin-left: 70%;
}

/*esta clase le pertenece al contenido del modal para cerrar caja*/
.modal-content{
    /*height:286px
    margin-top: -6%;*/
    border: none;
    margin-top: -4%;
    height: 35ex;
    margin-top: -1%;
    margin-left: 0.1%; 
} 

/*este id es para personalizar el boton de cerrar el modal que cierra la caja*/
#btnCerrar{
    margin-top: -0.1%;
    margin-right: -3%;
    width: 10%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgb(241, 196, 15);
}

/*esta clase es el del boton que manda a llamar el modal para cerrar la caja*/
.btnCloseCaja{
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logout {
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu_compra {
    text-decoration: none;
    margin-left: -70px;
    padding: 6px;
    background-color: #e1e1e1;
    color: black;
    border-bottom: 2px solid #838282d5;
    font-weight: bold;
    margin-left: 10px;
}

.estadisticas,
.totales {
    padding-top: 20px;
    margin-left: 15px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tot_estadisticas_u {
    padding-top: -30;
    height: 250px;
    width: 240px;
    background-color: #e1e1e1;
    border-radius: 8px;
}

.tot_estadisticas_a {
    padding-top: -30;
    height: 350px;
    width: 240px;
    background-color: #e1e1e1;
    border-radius: 8px;
}

/*Forms*/
label,
input[type="text"],
input[type="password"],
input[type="email"],
select {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}


input[type="text"],
input[type="password"],
input[type="email"],
select {
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #50aee9;
    color: black;
}

input[type="button"],
input[type="submit"],


label,
input[type="button"],
input[type="submit"],
button {
    display: block;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background: #bcccd1;
    color: black;
}

.forgot:hover {
    background: #bcccd1;
    color: black;
}

/*Central*/
#central {
    width: 72%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    padding-top: 1px;
}

.descripcion {
    margin-left: 400px;
    margin-top: 80px;
    font-size: 18px;
}

/*Productos*/
.ccc {
    width: 150px;
    margin: 5px;
    margin-top: 13px;
}

.articulo {
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.articulo h2 {
    font-size: 18px;
}

/*Footer*/
#footer {
    clear: both;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1.2%;
    color: white;
    background: #1e3a8e;
    border-top: 4px solid #ec3128;
    margin-bottom: 0.75%;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-success{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    border-radius: 6px;
}

#btnEnviar{
    font-size: 120%; 
    width: 10%;
}

#btnReiniciar{
    float: left;
    margin-top: -7.7%;
    margin-left: 15%;
    /*margin-right: 5%;*/
    font-size: 120%; 
    width: 10%;
}

#msj{
    margin-top: -1.5%;
}

#msj2{
    margin-top: -0.20%;
}

#mensaje{
    padding: 2%;
    max-height: 1px;
    background-color: transparent;
    width: 95%;   
}

#mensaje2{
    padding: 2%;
    max-height: 1px;
    background-color: transparent;
    width: 100%;  
    margin-top: -9%;
    margin-bottom: 5%; 
    margin-left: -2%;
}

#btnPagar{
    float: right;
    margin-top: -0.0%;
    font-size: 120%; 
    width: 10%;
}

#btnCredito{
    float: right;
    margin-top: -0.0%;
    margin-right: 3%;
    font-size: 120%; 
    width: 10%;   
}

#total{
    float: right;
    margin-right: 26%;
    margin-top: -3%;
}

#total2{
    font-size: 160%;
}

#productos{
    overflow-y: scroll;
    height: 300px;
    width: 100%;
}

.table{
    font-size: 98%;
}

#noDatos{
    margin-left: 40%;
    margin-top: 8%;
    font-size: 130%;
}